{%- liquid
  assign show_modal = false

  if show_currency and localization.available_countries.size > 1
    assign show_currency = true
  else
    assign show_currency = false
  endif

  if show_language and localization.available_languages.size > 1
    assign show_language = true
  else
    assign show_language = false
  endif

  if show_currency or show_language
    assign show_modal = true
  endif
-%}

{%- if show_modal -%}
  <modal-opener
    data-modal="#LanguageModal"
    class="localization-modal-button focus-inset{% if hide_on_mobile %} small-hide medium-hide{% endif %}"
  >
    <div
      id="ModalOpenerBtn-LanguageModal{% if type != blank %}-{{ type }}{% endif %}"
      class="localization-modal-button__content"
      aria-haspopup="dialog"
      tabindex="0"
    >
      {% if display_type == 'icon' or display_type == 'icon_and_text' %}
        {% render 'icon-language' %}
      {% elsif display_type == 'flag' or display_type == 'flag_and_text' %}
        <span class="localization-modal-button__flag">
          {{ localization.country | image_url: width: 24 | image_tag }}
        </span>
      {% endif %}
      <span class="visually-hidden">
        {{ 'localization.language_label' | t }}
      </span>

      {% if display_type == 'text'
        or display_type == 'icon_and_text'
        or display_type == 'flag_and_text'
      %}
        <span class="localization-modal-button__text">
          {%- if show_language -%}
            {{ localization.language.iso_code }}
          {% endif %}

          {%- if show_language and show_currency -%}
            |
          {% endif %}

          {%- if show_currency -%}
            {{- localization.country.currency.iso_code }}
          {% endif %}
        </span>
      {% endif %}
    </div>
  </modal-opener>

  {%- if type != 'simplified' -%}
    {{ 'component-localization-modal.css' | asset_url | stylesheet_tag }}

    <modal-dialog
      id="LanguageModal"
      class="modal modal--localization"
      data-move-to-body
    >
      <div
        class="modal__content color-{{ settings.locale_modal_color_scheme }}"
        role="dialog"
        aria-label="{{ block.settings.text }}"
        aria-modal="true"
        tabindex="-1"
      >
        <button
          id="ModalClose-{{ block.id }}"
          type="button"
          class="modal__close"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {% render 'icon-close' %}
        </button>
        <div class="rte modal__content-inner">
          <h2 class="modal__title uppercase">
            {{ 'localization.choose_your_location' | t }}
          </h2>

          <div class="modal__text">
            <p>
              {{ 'localization.choose_your_location_text' | t }}
            </p>
          </div>

          <noscript>
            {%- form 'localization',
              id: 'ModalCountryFormNoScript',
              class: 'localization-form'
            -%}
              <div class="localization-form__select p-label">
                <p
                  class="footer__localization__label visually-hidden p-label"
                  id="ModalCountryLabelNoScript"
                >
                  {{ 'localization.country_label' | t }}
                </p>
                <select
                  class="localization-selector link"
                  name="country_code"
                  aria-labelledby="ModalCountryLabelNoScript"
                >
                  {%- for country in localization.available_countries -%}
                    <option
                      value="{{ country.iso_code }}"
                      {%- if country.iso_code == localization.country.iso_code
                      %}
                        selected
                      {% endif %}
                    >
                      {{ country.name }} ({{ country.currency.iso_code }}
                      {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>

              <div class="localization-form__select p-label">
                <p
                  class="footer__localization__label"
                  id="ModalLanguageLabelNoScript"
                >
                  {{ 'localization.language_label' | t }}
                </p>
                <select
                  class="localization-selector link"
                  name="locale_code"
                  aria-labelledby="ModalLanguageLabelNoScript"
                >
                  {%- for language in localization.available_languages -%}
                    <option
                      value="{{ language.iso_code }}"
                      lang="{{ language.iso_code }}"
                      {%- if language.iso_code == localization.language.iso_code
                      %}
                        selected
                      {% endif %}
                    >
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--secondary">
                {{ 'localization.update_language' | t }}
              </button>
            {%- endform -%}
          </noscript>

          <div>
            {%- form 'localization',
              id: 'ModalCountryForm',
              class: 'localization-modal-form'
            -%}
              {% if show_currency %}
                <div class="no-js-hidden">
                  <p
                    class="localization__label form__label"
                    id="ModalCountryLabel"
                  >
                    {{ 'localization.country_label' | t }}
                  </p>
                  <disclosure-list
                    class="disclosure"
                    data-select="{{ localization.country.iso_code }}"
                    data-value="{{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})"
                  >
                    <button
                      type="button"
                      class="disclosure__button localization-form__select localization-selector link link--text p-label"
                      aria-expanded="false"
                      aria-controls="ModalCountryList--{{ section.id }}"
                      aria-describedby="ModalCountryLabel"
                    >
                      {{ localization.country.name }} (
                      {{- localization.country.currency.iso_code }}
                      {{ localization.country.currency.symbol }})
                      {% render 'icon-caret' %}
                    </button>
                    <ul
                      id="ModalCountryList--{{ section.id }}"
                      role="list"
                      class="disclosure__list list-unstyled p-label"
                      hidden
                    >
                      {%- for country in localization.available_countries -%}
                        <li class="disclosure__item" tabindex="-1">
                          <a
                            class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset"
                            href="#"
                            {% if country.iso_code
                                == localization.country.iso_code
                            %}
                              aria-current="true"
                            {% endif %}
                            data-value="{{ country.iso_code }}"
                          >
                            {{ country.name }}
                            <span class="localization-form__currency"
                              >({{ country.currency.iso_code }}
                              {{ country.currency.symbol }})</span
                            >
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                    <input
                      type="hidden"
                      name="country_code"
                      value="{{ localization.country.iso_code }}"
                    >
                  </disclosure-list>
                </div>
              {% endif %}

              {% if show_language %}
                <div class="no-js-hidden">
                  <p
                    class="localization__label form__label"
                    id="ModalLanguageLabel"
                  >
                    {{ 'localization.language_label' | t }}
                  </p>
                  <disclosure-list
                    class="disclosure"
                    data-select="{{ localization.language.iso_code }}"
                    data-value="{{ localization.language.endonym_name | capitalize }}"
                  >
                    <button
                      type="button"
                      class="disclosure__button localization-form__select localization-selector link link--text p-label"
                      aria-expanded="false"
                      aria-controls="ModalLanguageList"
                      aria-describedby="ModalLanguageLabel"
                    >
                      {{ localization.language.endonym_name | capitalize }}
                      {% render 'icon-caret' %}
                    </button>
                    <ul
                      id="ModalLanguageList"
                      role="list"
                      class="disclosure__list list-unstyled p-label"
                      hidden
                    >
                      {%- for language in localization.available_languages -%}
                        <li
                          class="disclosure__item"
                          tabindex="-1"
                          data-value="{{ language.iso_code }}"
                          data-content="{{ language.endonym_name | capitalize }}"
                          {% if language.iso_code
                              == localization.language.iso_code
                          %}
                            aria-current="true"
                          {% endif %}
                        >
                          <span
                            class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset"
                          >
                            {{ language.name | capitalize }}
                          </span>
                        </li>
                      {%- endfor -%}
                    </ul>
                    <input
                      type="hidden"
                      name="locale_code"
                      value="{{ localization.language.iso_code }}"
                    >
                  </disclosure-list>
                </div>
              {% endif %}

              <button class="button">
                {{ 'localization.update_button' | t }}
              </button>
            {%- endform -%}
          </div>
        </div>
      </div>
    </modal-dialog>

    <script src="{{ 'disclosure-list.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
{%- endif -%}
