<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    {% liquid
      render 'meta-tags'
      render 'preconnect'
    %}

    {{ content_for_header }}

    {% liquid
      render 'color-schemes'
      render 'theme-css'
      render 'preload'
    %}

    {{ 'section-password.css' | asset_url | stylesheet_tag }}
    {{ 'component-list-social.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>

    <script>
      document.documentElement.className =
        document.documentElement.className.replace('no-js', 'js');
    </script>
  </head>

  <body
    class="
      password
      animate--none
    "
  >
    <a
      class="skip-to-content-link button visually-hidden link"
      href="#MainContent"
    >
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>

    <footer>
      {% section 'main-password-footer' %}
    </footer>

    {% liquid
      render 'javascript-variables'
      render 'javascript-footer'
    %}
  </body>
</html>
