{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{% liquid
  render 'section-spacing', id: section.id

  assign title_style = section.settings.title_style
%}
<div
  class="
    contact__wrapper
    section-{{ section.id }}
    gradient
    color-{{ section.settings.color_scheme }}
    {% if section.settings.show_border_bottom %}section-border-bottom{% endif %}
  "
>
  <div
    class="
      page-width
      {% if section.settings.enable_fullwidth %}
        full-width
      {% else %}
        page-width--narrow
      {% endif %}
    "
  >
    <div class="contact">
      <div class="contact__header">
        <h2 class="contact__title {{ title_style }}">
          {{ section.settings.title }}
        </h2>
        <div class="form__message--large">
          {{ section.settings.subheading }}
        </div>
      </div>
      {%- form 'contact', id: 'ContactFormMain' -%}
        {%- if form.posted_successfully? -%}
          <div
            class="form-status-list p"
            tabindex="-1"
            autofocus
          >
            {% render 'icon-success' %}
            {{ 'templates.contact.form.post_success' | t }}
          </div>
        {%- elsif form.errors -%}
          <h6
            class="alert-message p"
            role="alert"
            tabindex="-1"
            autofocus
          >
            {% render 'icon-error' %}
            {{ 'templates.contact.form.error_heading' | t }}
          </h6>

          <ul class="alert-list">
            {%- for field in form.errors -%}
              <li>
                {%- if field == 'form' -%}
                  <span class="alert p">
                    {% render 'icon-error' %}
                    <span>
                      {{ form.errors.messages[field] }}
                    </span>
                  </span>
                {%- else -%}
                  <a href="#RegisterForm-{{ field }}" class="alert">
                    {% render 'icon-error' %}
                    <span>
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    </span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

        <div class="contact__fields">
          {% assign email_visible = false %}
          {% for block in section.blocks %}
            {% liquid
              # Width
              assign width = block.settings.width
              assign width_class = 'form__field--full'
              if width == 'half'
                assign width_class = 'form__field--half'
              endif

              # Required
              assign required = block.settings.required
              assign required_class = ''
              if required
                assign required_class = 'required'
              endif

              # Label
              assign label = block.settings.label
              assign label_content = label
              if required
                assign label_content = label | append: ' *'
              endif

              if block.type == 'form_email'
                assign email_visible = true
              endif
            %}

            {% case block.type %}
              {% when 'form_name' %}
                <div
                  class="form__field {{ width_class }}"
                  {{ block.shopify_attributes }}
                >
                  <label class="form__label" for="ContactForm-name">
                    {{- label_content -}}
                  </label>
                  <input
                    class="field__input"
                    autocomplete="name"
                    type="text"
                    id="ContactForm-name"
                    name="contact[{{ 'templates.contact.form.name' | t }}]"
                    value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                    {% if required %}
                      required
                    {% endif %}
                  >
                </div>
              {% when 'form_email' %}
                <div
                  class="form__field field--with-error {{ width_class }}"
                  {{ block.shopify_attributes }}
                >
                  <label class="form__label" for="ContactForm-email">
                    {{- label_content | append: ' *' -}}
                  </label>
                  <input
                    autocomplete="email"
                    type="email"
                    id="ContactForm-email"
                    class="field__input"
                    name="contact[email]"
                    spellcheck="false"
                    autocapitalize="off"
                    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                    aria-required="true"
                    required
                    {% if form.errors contains 'email' %}
                      aria-invalid="true"
                      aria-describedby="ContactForm-email-error"
                    {% endif %}
                  >
                  {%- if form.errors contains 'email' -%}
                    <small class="alert p" id="ContactForm-email-error">
                      <span class="visually-hidden">
                        {{- 'accessibility.error' | t -}}
                      </span>
                      {%- render 'icon-error' -%}
                      <span>
                        {{- form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email -}}
                      </span>
                    </small>
                  {%- endif -%}
                </div>
              {% when 'form_message' %}
                <div
                  class="form__field {{ width_class }}"
                  {{ block.shopify_attributes }}
                >
                  <label class="form__label" for="ContactForm-body">
                    {{- label_content -}}
                  </label>
                  <textarea
                    rows="10"
                    id="ContactForm-body"
                    class="text-area field__input"
                    name="contact[{{ 'templates.contact.form.comment' | t }}]"
                    {% if required %}
                      required
                    {% endif %}
                  >
                    {{- form.body -}}
                  </textarea>
                </div>
              {% when 'form_field' %}
                <div
                  class="form__field {{ width_class }}"
                  {{ block.shopify_attributes }}
                >
                  {% assign type = block.settings.type %}
                  {% assign id = block.id %}
                  <label class="form__label" for="{{ id }}">
                    {{- label_content -}}
                  </label>

                  {% if block.settings.type == 'textarea' %}
                    <textarea
                      rows="10"
                      id="{{ id }}"
                      class="text-area field__input"
                      {% if required %}
                        required
                      {% endif %}
                      name="contact[{{ label }}]"
                    >
                    {{- form.body -}}
                  </textarea>
                  {% else %}
                    <input
                      class="field__input"
                      type="{{ type }}"
                      id="{{ id }}"
                      name="contact[{{ label }}]"
                      {% if required %}
                        required
                      {% endif %}
                    >
                  {% endif %}
                </div>
            {% endcase %}
          {% endfor %}

          {% if email_visible == false %}
            <div
              class="form__field field--with-error {{ width_class }}"
              {{ block.shopify_attributes }}
            >
              <label class="form__label" for="ContactForm-email">
                {{- 'templates.contact.form.email' | t -}}
                *
              </label>
              <input
                autocomplete="email"
                type="email"
                id="ContactForm-email"
                class="field__input"
                name="contact[email]"
                spellcheck="false"
                autocapitalize="off"
                required
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {% if form.errors contains 'email' %}
                  aria-invalid="true"
                  aria-describedby="ContactForm-email-error"
                {% endif %}
              >
              {%- if form.errors contains 'email' -%}
                <small class="alert p" id="ContactForm-email-error">
                  <span class="visually-hidden">
                    {{- 'accessibility.error' | t -}}
                  </span>
                  {%- render 'icon-error' -%}
                  <span>
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </span>
                </small>
              {%- endif -%}
            </div>
          {% endif %}
        </div>

        <div class="contact__button">
          <button
            type="submit"
            class="link link-with-icon {{ section.settings.button_color_scheme }}"
          >
            {{ 'templates.contact.form.send' | t }}
            {% render 'icon-arrow' %}
          </button>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-4"
    },
    {
      "type": "checkbox",
      "id": "show_border_bottom",
      "label": "t:sections.all.border.show_border_bottom.label",
      "default": false
    },
    {
      "type": "select",
      "id": "button_color_scheme",
      "options": [
        {
          "value": "button",
          "label": "t:sections.all.buttons.primary.label"
        },
        {
          "value": "button button--secondary",
          "label": "t:sections.all.buttons.secondary.label"
        },
        {
          "value": "link link-with-icon",
          "label": "t:sections.all.buttons.text_link.label"
        }
      ],
      "default": "button",
      "label": "t:sections.all.buttons.label"
    },
    {
      "type": "checkbox",
      "id": "enable_fullwidth",
      "label": "t:sections.contact-form.settings.enable_fullwidth.label",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "default": "Contact form",
      "label": "t:sections.contact-form.settings.heading.label"
    },
    {
      "type": "select",
      "id": "title_style",
      "label": "t:sections.all.text.style.label",
      "options": [
        {
          "value": "normal",
          "label": "t:sections.all.text.style.option_1"
        },
        {
          "value": "uppercase",
          "label": "t:sections.all.text.style.option_2"
        }
      ],
      "default": "normal"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "default": "<p>Send us your query, we are happy to help</p>",
      "label": "t:sections.contact-form.settings.subheading.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.desktop_padding_header"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.mobile_padding_header"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.mobile_padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.mobile_padding_bottom",
      "default": 120
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.desktop_margin_header"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom",
      "default": 120
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.mobile_margin_header"
    },
    {
      "type": "range",
      "id": "mobile_margin_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.mobile_margin_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "form_name",
      "name": "Form name",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.contact-form.blocks.global_settings.label",
          "default": "Name"
        },
        {
          "type": "select",
          "id": "width",
          "label": "t:sections.contact-form.blocks.global_settings.width.label",
          "info": "t:sections.contact-form.blocks.global_settings.width.info",
          "default": "half",
          "options": [
            {
              "value": "full",
              "label": "t:sections.contact-form.blocks.global_settings.width.options_full.label"
            },
            {
              "value": "half",
              "label": "t:sections.contact-form.blocks.global_settings.width.options_half.label"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "t:sections.contact-form.blocks.global_settings.required.label",
          "default": false
        }
      ]
    },
    {
      "type": "form_email",
      "name": "t:sections.contact-form.blocks.form_email.name",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.contact-form.blocks.global_settings.label",
          "default": "Email"
        },
        {
          "type": "select",
          "id": "width",
          "label": "t:sections.contact-form.blocks.global_settings.width.label",
          "info": "t:sections.contact-form.blocks.global_settings.width.info",
          "default": "half",
          "options": [
            {
              "value": "full",
              "label": "t:sections.contact-form.blocks.global_settings.width.options_full.label"
            },
            {
              "value": "half",
              "label": "t:sections.contact-form.blocks.global_settings.width.options_half.label"
            }
          ]
        }
      ]
    },
    {
      "type": "form_message",
      "name": "t:sections.contact-form.blocks.form_message.name",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.contact-form.blocks.global_settings.label",
          "default": "Message"
        },
        {
          "type": "select",
          "id": "width",
          "label": "t:sections.contact-form.blocks.global_settings.width.label",
          "info": "t:sections.contact-form.blocks.global_settings.width.info",
          "default": "full",
          "options": [
            {
              "value": "full",
              "label": "t:sections.contact-form.blocks.global_settings.width.options_full.label"
            },
            {
              "value": "half",
              "label": "t:sections.contact-form.blocks.global_settings.width.options_half.label"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "t:sections.contact-form.blocks.global_settings.required.label",
          "default": false
        }
      ]
    },
    {
      "type": "form_field",
      "name": "t:sections.contact-form.blocks.form_custom_field.name",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.contact-form.blocks.global_settings.label"
        },
        {
          "type": "select",
          "id": "width",
          "label": "t:sections.contact-form.blocks.global_settings.width.label",
          "info": "t:sections.contact-form.blocks.global_settings.width.info",
          "default": "half",
          "options": [
            {
              "value": "full",
              "label": "t:sections.contact-form.blocks.global_settings.width.options_full.label"
            },
            {
              "value": "half",
              "label": "t:sections.contact-form.blocks.global_settings.width.options_half.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "type",
          "label": "t:sections.contact-form.blocks.form_custom_field.type.label",
          "options": [
            {
              "value": "text",
              "label": "t:sections.contact-form.blocks.form_custom_field.type.options_text.label"
            },
            {
              "value": "email",
              "label": "t:sections.contact-form.blocks.form_custom_field.type.options_email.label"
            },
            {
              "value": "tel",
              "label": "t:sections.contact-form.blocks.form_custom_field.type.options_tel.label"
            },
            {
              "value": "number",
              "label": "t:sections.contact-form.blocks.form_custom_field.type.options_number.label"
            },
            {
              "value": "date",
              "label": "t:sections.contact-form.blocks.form_custom_field.type.options_date.label"
            },
            {
              "value": "time",
              "label": "t:sections.contact-form.blocks.form_custom_field.type.options_time.label"
            },
            {
              "value": "textarea",
              "label": "t:sections.contact-form.blocks.form_custom_field.type.options_textarea.label"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "t:sections.contact-form.blocks.global_settings.required.label",
          "default": false
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name",
      "category": "t:categories.forms",
      "blocks": [
        {
          "type": "form_name"
        },
        {
          "type": "form_email"
        },
        {
          "type": "form_message"
        }
      ]
    }
  ]
}
{% endschema %}
