{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{% liquid
  render 'section-spacing', id: section.id

  if section.settings.enable_animation
    assign animate_class = 'animate'
  else
    assign animate_class = ''
  endif

  assign gap = section.settings.gap
  assign grid_width = section.settings.section_split | append: '%'
%}

{% style %}
  .section-{{ section.id }} .image-and-image__container {
    gap: {{ gap | default: 20 }}px;
  }

  @media (min-width: 990px) {
    .section-{{ section.id }} .image-and-image__container {
      grid-template-columns: calc({{ grid_width | default: '50%' }} - {{ gap | default: 20 | divided_by: 2 | append: 'px' }}) 1fr;

    }
  }
{% endstyle %}

<div
  class="
    section-{{ section.id }}
    color-{{ section.settings.color_scheme }}
    {% if section.settings.show_border_bottom %}section-border-bottom{% endif %}
    {{ animate_class }}
  "
>
  {% unless section.settings.full_width %}
    <div class="page-width">
  {% endunless %}
  <div class="image-and-image__container{% if section.settings.invert_blocks_on_mobile %} image-and-image__container--invert-mobile{% endif %}">
    {% content_for 'blocks' %}
  </div>
  {% unless section.settings.full_width %}
    </div>
  {% endunless %}
</div>

{% schema %}
{
  "name": "t:sections.image-and-image.name",
  "blocks": [{"type": "_text-blocks"}, {"type": "_image-banner"}],
  "max_blocks": 2,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "checkbox",
      "id": "show_border_bottom",
      "label": "t:sections.all.border.show_border_bottom.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.full_width.label",
      "default": false
    },
    {
      "type": "range",
      "id": "section_split",
      "label": "t:sections.image-and-image.settings.section_split.label",
      "min": 30,
      "max": 70,
      "step": 1,
      "unit": "%",
      "default": 50
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:sections.image-and-image.settings.gap.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "invert_blocks_on_mobile",
      "label": "t:sections.image-and-image.settings.invert_blocks_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.desktop_padding_header"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.mobile_padding_header"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.mobile_padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.mobile_padding_bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.desktop_margin_header"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom",
      "default": 120
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.mobile_margin_header"
    },
    {
      "type": "range",
      "id": "mobile_margin_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.mobile_margin_bottom",
      "default": 60
    },
    {
      "type": "header",
      "content": "t:sections.all.animations.section_animation.header",
      "visible_if": "{{ settings.enable_global_animations }}"
    },
    {
      "type": "checkbox",
      "id": "enable_animation",
      "label": "t:sections.all.animations.section_animation.label",
      "default": true,
      "visible_if": "{{ settings.enable_global_animations }}"
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-and-image.name",
      "category": "t:categories.media",
      "blocks": [
        {
          "type": "_image-banner"
        },
        {
          "type": "_text-blocks",
          "blocks": [
            {
              "type": "_rich-text",
              "blocks": [
                {
                  "type": "_rich-text-heading"
                },
                {
                  "type": "_rich-text-paragraph"
                },
                {
                  "type": "_rich-text-link"
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
