{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}

{% render 'section-spacing', id: section.id %}

<script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'gallery-thumbs.js' | asset_url }}" defer="defer"></script>

{% style %}
  .section-{{ section.id }} {
    --video-control-color: {{ section.settings.video_control_color }};
  }

  .section-{{ section.id }} .product-gallery__carousel .embla__button--prev,
  .section-{{ section.id }} .product-gallery__carousel .embla__button--next {
    color: {{ settings.product_gallery_arrows_color }};
  }
{% endstyle %}

<product-info
  id="MainProduct-{{ section.id }}"
  class="
    gradient
    color-{{ section.settings.color_scheme }}
    section-{{ section.id }}
    {% if section.settings.show_border_bottom %}
      section-border-bottom
    {% endif %}
  "
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-update-url="true"
  data-url="{{ product.url }}"
>
  <div class="page-width">
    {%- assign first_3d_model = product.media
      | where: 'media_type', 'model'
      | first
    -%}
    {%- if first_3d_model -%}
      {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
      <link
        id="ModelViewerStyle"
        rel="stylesheet"
        href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
        media="print"
        onload="this.media='all'"
      >
      <link
        id="ModelViewerOverride"
        rel="stylesheet"
        href="{{ 'component-model-viewer-ui.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
    {%- endif -%}

    {% if section.settings.show_breadcrumbs %}
      {% render 'breadcrumbs', extra_class: 'breadcrumbs--tight' %}
    {% endif %}

    <div class="product pdp-product">
      {% render 'product-media-gallery',
        video_layout: section.settings.video_format,
        video_autoplay: section.settings.video_autoplay,
        show_overlay_gradient: section.settings.show_video_gradient_overlay
      %}

      <div
        class="product__info-wrapper"
        id="product-info-wrapper"
      >
        <div
          id="ProductInfo-{{ section.id }}"
          class="
            product__info-container
            {{ section.settings.product_content_align }}
          "
          data-product-details
        >
          {%- assign product_form_id = 'product-form-' | append: section.id -%}
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'text' -%}
                <p
                  class="product__text product__text-brand{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}"
                  {{ block.shopify_attributes }}
                >
                  {{- block.settings.text -}}
                </p>
              {%- when 'title' -%}
                <div class="product__title rte" {{ block.shopify_attributes }}>
                  <h1 class="{{ block.settings.header_size }} {{ block.settings.title_style }}">
                    {{ product.title | escape }}
                  </h1>
                </div>
              {%- when 'description' -%}
                {% if product.content != blank %}
                  <div
                    class="product__description rte"
                    {{ block.shopify_attributes }}
                  >
                    {{ product.content }}
                  </div>
                {% endif %}
              {%- when 'usp' -%}
                {% render 'product-usp', block: block %}
              {%- when 'collapsible_content' -%}
                {%- if block.settings.display_type == 'accordion' -%}
                  <accordion-item
                    class="accordion accordion--detailed"
                    {{ block.shopify_attributes }}
                  >
                    <details
                      id="Details-{{ block.id }}-{{ section.id }}"
                      {% if block.settings.faq_open %}
                        open
                      {% endif %}
                    >
                      <summary>
                        <div class="summary__title p">
                          <div
                            class="
                              {{ block.settings.title_style }}
                              accordion__title
                            "
                          >
                            <p>
                              {{ block.settings.faqs_question }}
                            </p>
                          </div>
                        </div>
                        <div class="accordion__icon-caret">
                          {% render 'icon-caret' %}
                        </div>
                      </summary>
                      <div
                        class="accordion__content rte"
                        id="ProductAccordion-{{ block.id }}-{{ section.id }}"
                      >
                        {{ block.settings.faqs_answer }}
                      </div>
                    </details>
                  </accordion-item>
                {%- else -%}
                  <div
                    class="accordion accordion--detailed accordion--drawer"
                    {{ block.shopify_attributes }}
                  >
                    <button
                      is="custom-drawer-trigger"
                      class="button-reset button--full-width"
                      aria-haspopup="dialog"
                      data-drawer-target="#CustomDrawer-{{ block.id }}"
                    >
                      <div class="summary__title p">
                        <div
                          class="
                            {{ block.settings.title_style }}
                            accordion__title
                          "
                        >
                          <p>
                            {{ block.settings.faqs_question }}
                          </p>
                        </div>
                      </div>

                      <div class="accordion__icon-caret">
                        {% render 'icon-caret' %}
                      </div>
                    </button>
                  </div>

                  {%- render 'custom-drawer',
                    id: block.id,
                    heading: block.settings.faqs_question,
                    content: block.settings.faqs_answer
                  -%}
                {%- endif -%}
              {%- when 'main_accords' -%}
                {% render 'product-main-accords', product: product, block: block, section: section %}
              {%- when 'sku' -%}
                {% if product.selected_or_first_available_variant.sku != blank
                %}
                  <p
                    class="product__sku margin-0{% if block.settings.title_style == 'uppercase' %} uppercase{% endif %}"
                    id="Sku-{{ section.id }}"
                    role="status"
                    {{ block.shopify_attributes }}
                  >
                    <span class="visually-hidden">
                      {{- 'products.product.sku' | t }}:
                    </span>
                    {% if block.settings.sku_text != blank %}
                      {{- block.settings.sku_text -}}
                    {% endif %}
                    {{- product.selected_or_first_available_variant.sku -}}
                  </p>
                {% endif %}
              {%- when 'price' -%}
                <div
                  {{ block.shopify_attributes }}
                  class="product__price-container"
                >
                  <div
                    class="no-js-hidden"
                    id="price-{{ section.id }}"
                    role="status"
                  >
                    {%- render 'price',
                      product: product,
                      use_variant: true,
                      show_badges: true,
                      price_class: 'price--large'
                    -%}
                  </div>
                  {%- if cart.taxes_included
                    or shop.shipping_policy.body != blank
                  -%}
                    <div class="product__tax caption rte">
                      {%- if cart.taxes_included
                        and block.settings.price_show_tax_message
                      -%}
                        {{ 'products.product.include_taxes' | t }}
                      {%- endif -%}
                      {%- if shop.shipping_policy.body != blank
                        and block.settings.price_show_shipping_info
                      -%}
                        {{
                          'products.product.shipping_policy_html'
                          | t: link: shop.shipping_policy.url
                        }}
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>
                <div class="hidden">
                  {%- assign product_form_installment_id = 'product-form-installment-'
                    | append: section.id
                  -%}
                  {%- form 'product',
                    product,
                    id: product_form_installment_id,
                    class: 'installment caption-large'
                  -%}
                    <input
                      type="hidden"
                      name="id"
                      value="{{ product.selected_or_first_available_variant.id }}"
                    >
                    {{ form | payment_terms }}
                  {%- endform -%}
                </div>
              {%- when 'quantity_selector' -%}
                <div
                  class="product-form__input product-form__quantity"
                  {{ block.shopify_attributes }}
                >
                  <quantity-input class="quantity">
                    <button
                      class="quantity__button no-js-hidden"
                      name="minus"
                      type="button"
                    >
                      <span class="visually-hidden">
                        {{-
                          'products.product.quantity.decrease'
                          | t: product: product.title
                          | escape
                        -}}
                      </span>
                      {% render 'icon-minus' %}
                    </button>
                    <input
                      class="quantity__input"
                      type="number"
                      name="quantity"
                      id="Quantity-{{ section.id }}"
                      min="1"
                      value="1"
                      form="{{ product_form_id }}"
                    >
                    <button
                      class="quantity__button no-js-hidden"
                      name="plus"
                      type="button"
                    >
                      <span class="visually-hidden">
                        {{-
                          'products.product.quantity.increase'
                          | t: product: product.title
                          | escape
                        -}}
                      </span>
                      {% render 'icon-plus' %}
                    </button>
                  </quantity-input>
                </div>
              {%- when 'popup' -%}
                {% if block.settings.page.content %}
                  <modal-opener
                    class="product-popup-modal__opener no-js-hidden"
                    data-modal="#PopupModal-{{ block.id }}"
                    {{ block.shopify_attributes }}
                  >
                    <button
                      id="ModalOpenerBtn-{{ block.id }}"
                      class="product-popup-modal__button link p"
                      type="button"
                      aria-haspopup="dialog"
                    >
                      {{
                        block.settings.text
                        | default: block.settings.page.title
                      }}
                    </button>
                  </modal-opener>
                  <a
                    href="{{ block.settings.page.url }}"
                    class="product-popup-modal__button link p no-js"
                  >
                    {{- block.settings.text -}}
                  </a>
                {% endif %}
              {%- when 'free_shipping' -%}
                <div
                  id="product-free-shipping"
                  {{ block.shopify_attributes }}
                >
                  {% render 'cart-free-shipping-bar', section: 'product' %}
                </div>
              {%- when 'share' -%}
                <div
                  class="product__social-sharing"
                  {{ block.shopify_attributes }}
                >
                  {% render 'social-sharing',
                    share_title: product.title,
                    share_permalink: product.url,
                    share_image: product.images[0]
                  %}
                </div>
              {%- when 'custom_liquid' -%}
                {{ block.settings.custom_liquid }}
              {%- when 'variant_picker' -%}
                {% render 'product-variant-picker',
                  product: product,
                  block: block,
                  product_form_id: product_form_id,
                  blocks: section.blocks
                %}
              {%- when 'size_chart' -%}
                {%- if block.settings.position == 'separate-block' -%}
                  {%- if block.settings.content_for_chart != blank
                    or product.metafields.custom.size_chart != blank
                  -%}
                    {% render 'product-size-chart',
                      size_chart_block: block,
                      product: product,
                      section: section
                    %}
                  {%- endif -%}
                {%- endif -%}
              {%- when 'product_variations' -%}
                {%- render 'product-variants',
                  block: block,
                  product: product,
                  product_id: product.id,
                  section_id: section.id,
                  image_ratio: section.settings.image_ratio,
                  image_ratio_mobile: section.settings.image_ratio_mobile,
                  image_fill: settings.product_image_fill
                -%}
              {%- when 'buy_buttons' -%}
                {%- render 'buy-buttons',
                  block: block,
                  product: product,
                  product_form_id: product_form_id,
                  section_id: section.id
                -%}

                <sticky-cart-trigger></sticky-cart-trigger>
              {%- when 'pickup_availability' -%}
                {{
                  'component-pickup-availability.css'
                  | asset_url
                  | stylesheet_tag
                }}

                {% liquid
                  assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true

                  if block.settings.pickup_drawer_icon == false
                    assign icon_class = 'hidden'
                  endif
                -%}

                <pickup-availability
                  class="
                    product__pickup-availabilities no-js-hidden
                    color-{{ block.settings.color_scheme }}
                    {% unless product.selected_or_first_available_variant.available
                      and pick_up_availabilities.size > 0
                    %}
                      hidden
                    {% endunless %}
                  "
                  data-icon-color="{{ icon_class }}"
                  data-background="color-{{ block.settings.color_scheme }}"
                  {% if product.selected_or_first_available_variant.available
                    and pick_up_availabilities.size > 0
                  %}
                    available
                  {% endif %}
                  data-root-url="{{ routes.root_url }}"
                  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                  data-has-only-default-variant="{{ product.has_only_default_variant }}"
                  {{ block.shopify_attributes }}
                >
                  <template>
                    <pickup-availability-preview class="pickup-availability-preview">
                      <div class="pickup-availability-info">
                        <p class="p p-m--small">
                          {{
                            'products.product.pickup_availability.unavailable'
                            | t
                          }}
                        </p>
                        <button class="pickup-availability-button link">
                          {{
                            'products.product.pickup_availability.refresh'
                            | t
                          }}
                        </button>
                      </div>
                    </pickup-availability-preview>
                  </template>
                </pickup-availability>

                <script
                  src="{{ 'pickup-availability.js' | asset_url }}"
                  defer="defer"
                ></script>
              {%- when 'complementary_products' -%}
                {% render 'product-recommendations', block: block %}
              {%- when 'spacer' -%}
                <div
                  class="spacer"
                  style="height: {{ block.settings.height }}px;"
                  {{ block.shopify_attributes }}
                ></div>
              {%- when 'stock_count_message' -%}
                {% liquid
                  render 'css-delay', css_file: 'component-stock-message.css'
                  assign low_stock_number = settings.low_stock_number
                  assign variant_data = ''
                  for variant in product.variants
                    assign variant_data = variant_data | append: variant.id | append: ',' | append: variant.inventory_quantity | append: '/'
                  endfor
                -%}
                <stock-message
                  id="StockMessage-{{ section.id }}"
                  class="stock-message"
                  data-low-stock="{{ settings.low_stock_number }}"
                  {% if product.selected_variant != blank %}
                    {% if product.selected_variant.inventory_quantity
                        < low_stock_number
                      and product.selected_variant.inventory_quantity > 0
                    %}
                      low-stock
                    {% endif %}
                  {% elsif product.first_available_variant.available
                    and product.first_available_variant.inventory_quantity
                      < low_stock_number
                  %}
                    low-stock
                  {% endif %}
                  data-variants-inventory="{{ variant_data }}"
                  {{ block.shopify_attributes }}
                >
                  <div class="stock-message__inner js-stock-message">
                    {% render 'icon-clock' %}
                    <span class="stock-message__text p">
                      {{ 'products.product.low_stock.message' | t }}
                    </span>
                  </div>
                </stock-message>
            {%- endcase -%}
          {%- endfor -%}
          {% if section.settings.scroll_down_arrow %}
            <product-details-scroll-down
              class="product__view-details animate-arrow"
              aria-label="Jump to more details"
            >
              {% render 'icon-arrow-down-large' %}
            </product-details-scroll-down>
          {% endif %}
        </div>
      </div>

      {% assign popups = section.blocks | where: 'type', 'popup' %}
      {%- for block in popups -%}
        <modal-dialog
          id="PopupModal-{{ block.id }}"
          class="modal modal--product"
          {{ block.shopify_attributes }}
        >
          <div
            class="modal__content"
            role="dialog"
            aria-label="{{ block.settings.text }}"
            aria-modal="true"
            tabindex="-1"
          >
            <button
              id="ModalClose-{{ block.id }}"
              type="button"
              class="modal__close"
              aria-label="{{ 'accessibility.close' | t }}"
            >
              {% render 'icon-close' %}
            </button>

            <div class="modal__container">
              <div class="rte modal__content-inner">
                <h2 class="modal__title uppercase">
                  {{ block.settings.page.title }}
                </h2>

                <div class="modal__text rte">
                  {{ block.settings.page.content }}
                </div>
              </div>
            </div>
          </div>
        </modal-dialog>
      {%- endfor -%}

      {%- if first_3d_model -%}
        <script type="application/json" id="ProductJSON-{{ product.id }}">
          {{ product.media | where: 'media_type', 'model' | json }}
        </script>
        <script src="{{ 'product-model.js' | asset_url }}" defer></script>
      {%- endif -%}

      <script>
        document.addEventListener('DOMContentLoaded', function () {
          let isSafari =
            /Safari/.test(navigator.userAgent) &&
            /Apple Computer/.test(navigator.vendor);
          if (isSafari) {
            document
              .querySelectorAll(
                '.product-media__grid-list .product-media__grid-list-item img',
              )
              .forEach((i) => {
                i.classList.add('no-cover');
              });
          }

          function isIE() {
            const ua = window.navigator.userAgent;
            const msie = ua.indexOf('MSIE ');
            const trident = ua.indexOf('Trident/');

            return msie > 0 || trident > 0;
          }

          if (!isIE()) return;
          const hiddenInput = document.querySelector(
            '#{{ product_form_id }} input[name="id"]',
          );
          const noScriptInputWrapper = document.createElement('div');
          const variantSwitcher =
            document.querySelector(
              'variant-radios[data-section="{{ section.id }}"]',
            ) ||
            document.querySelector(
              'variant-selects[data-section="{{ section.id }}"]',
            );
          noScriptInputWrapper.innerHTML = document.querySelector(
            '.product-form__noscript-wrapper-{{ section.id }}',
          ).textContent;
          variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

          document
            .querySelector('#Variants-{{ section.id }}')
            .addEventListener('change', function (event) {
              hiddenInput.value = event.currentTarget.value;
            });
        });
      </script>
    </div>
  </div>
</product-info>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumbs",
      "label": "t:sections.all.breadcrumbs.settings.show.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_border_bottom",
      "label": "t:sections.all.border.show_border_bottom.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_gallery_zoom",
      "default": true,
      "label": "t:sections.main-product.settings.gallery_zoom.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.image-ratios.options_1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image-ratios.options_2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.image-ratios.options_3.label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.all.image-ratios.label"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.main-product.settings.media_size.option_1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-product.settings.media_size.option_2.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-product.settings.media_size.option_3.label"
        }
      ],
      "default": "large",
      "label": "t:sections.main-product.settings.media_size.label",
      "info": "t:sections.main-product.settings.media_size.info"
    },
    {
      "type": "select",
      "id": "image_column_layout",
      "options": [
        {
          "value": "single",
          "label": "t:sections.main-product.settings.gallery_layout.option_1.label"
        },
        {
          "value": "double",
          "label": "t:sections.main-product.settings.gallery_layout.option_2.label"
        },
        {
          "value": "carousel",
          "label": "t:sections.main-product.settings.gallery_layout.option_3.label"
        }
      ],
      "default": "double",
      "label": "t:sections.main-product.settings.gallery_layout.label",
      "info": "t:sections.main-product.settings.gallery_layout.info"
    },
    {
      "type": "select",
      "id": "image_style",
      "options": [
        {
          "value": "image-border-radius--none",
          "label": "t:sections.all.radius.none.label"
        },
        {
          "value": "image-border-radius--rounded-xxs",
          "label": "t:sections.all.radius.xxs.label"
        },
        {
          "value": "image-border-radius--rounded-xs",
          "label": "t:sections.all.radius.xs.label"
        },
        {
          "value": "image-border-radius--rounded-small",
          "label": "t:sections.all.radius.small.label"
        },
        {
          "value": "image-border-radius--rounded",
          "label": "t:sections.all.radius.standard.label"
        },
        {
          "value": "image-border-radius--rounded-extra",
          "label": "t:sections.all.radius.extra.label"
        },
        {
          "value": "image-border-radius--curved-top",
          "label": "t:sections.all.radius.curved.label"
        }
      ],
      "default": "image-border-radius--none",
      "label": "t:sections.all.radius.label"
    },
    {
      "type": "checkbox",
      "id": "video_autoplay",
      "label": "t:sections.main-product.settings.video_autoplay.label",
      "info": "t:sections.main-product.settings.video_autoplay.info",
      "default": false
    },
    {
      "type": "select",
      "id": "video_format",
      "label": "t:sections.main-product.settings.video_format.label",
      "options": [
        {
          "value": "cover",
          "label": "t:sections.main-product.settings.video_format.option_1.label"
        },
        {
          "value": "contain",
          "label": "t:sections.main-product.settings.video_format.option_2.label"
        }
      ],
      "default": "cover",
      "visible_if": "{{ section.settings.video_autoplay == false }}"
    },
    {
      "type": "checkbox",
      "id": "show_thumbnails",
      "label": "t:sections.main-product.settings.show_thumbnails.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_thumbnails_corners",
      "default": true,
      "label": "t:sections.main-product.settings.gallery_round_thumbs.label",
      "visible_if": "{{ section.settings.show_thumbnails }}"
    },
    {
      "type": "checkbox",
      "id": "show_video_gradient_overlay",
      "default": true,
      "label": "t:sections.main-product.settings.show_video_gradient_overlay.label",
      "info": "t:sections.main-product.settings.show_video_gradient_overlay.info"
    },
    {
      "type": "color",
      "id": "video_control_color",
      "label": "t:sections.main-product.settings.video_control_color.label",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.media_group.label"
    },
    {
      "type": "checkbox",
      "id": "enable_media_group",
      "label": "t:sections.main-product.settings.enable_media_group.label",
      "default": false
    },
    {
      "type": "text",
      "id": "media_group_name",
      "label": "t:sections.main-product.settings.media_group_name.label",
      "info": "t:sections.main-product.settings.media_group_name.info",
      "default": "Color",
      "visible_if": "{{ section.settings.enable_media_group }}"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-product.settings.media_group_name_info.content",
      "visible_if": "{{ section.settings.enable_media_group }}"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.product_content_settings.content"
    },
    {
      "type": "checkbox",
      "id": "scroll_down_arrow",
      "label": "t:sections.main-product.settings.scroll_down_arrow.label",
      "default": true
    },
    {
      "type": "select",
      "id": "product_content_align",
      "label": "t:sections.main-product.settings.content_alignment.label",
      "options": [
        {
          "value": "product__info-container--left",
          "label": "t:sections.main-product.settings.content_alignment.option_1.label"
        },
        {
          "value": "product__info-container",
          "label": "t:sections.main-product.settings.content_alignment.option_2.label"
        },
        {
          "value": "product__info-container--right",
          "label": "t:sections.main-product.settings.content_alignment.option_3.label"
        }
      ],
      "default": "product__info-container--left"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.desktop_padding_header"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 96
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.mobile_padding_header"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.mobile_padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.mobile_padding_bottom",
      "default": 64
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.desktop_margin_header"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom",
      "default": 120
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.mobile_margin_header"
    },
    {
      "type": "range",
      "id": "mobile_margin_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.mobile_margin_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options_1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options_2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options_3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "header_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options_1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options_2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options_3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_size.heading.label"
        },
        {
          "type": "select",
          "id": "title_style",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.all.text.style.option_1"
            },
            {
              "value": "uppercase",
              "label": "t:sections.all.text.style.option_2"
            }
          ],
          "default": "normal",
          "label": "t:sections.all.text.style.label"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "price_show_tax_message",
          "label": "Show tax message",
          "info": "'All prices include tax' in Taxes and Duties settings must be checked",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "price_show_shipping_info",
          "label": "Show shipping information",
          "info": "Shipping policy in Policies settings must not be blank",
          "default": false
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options_1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options_2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "size_chart",
      "name": "t:sections.main-product.blocks.size_chart.name",
      "settings": [
        {
          "type": "select",
          "id": "position",
          "options": [
            {
              "value": "separate-block",
              "label": "t:sections.main-product.blocks.size_chart.settings.position.options__1.label"
            },
            {
              "value": "next-to-option",
              "label": "t:sections.main-product.blocks.size_chart.settings.position.options__2.label"
            }
          ],
          "default": "next-to-option",
          "label": "t:sections.main-product.blocks.size_chart.settings.position.label"
        },
        {
          "type": "text",
          "id": "option_name",
          "label": "t:sections.main-product.blocks.size_chart.settings.option_name.label",
          "default": "Size",
          "visible_if": "{{ block.settings.position == 'next-to-option' }}"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.size_chart.settings.icon.options__1.label"
            },
            {
              "value": "measure",
              "label": "t:sections.main-product.blocks.size_chart.settings.icon.options__2.label"
            }
          ],
          "default": "measure",
          "label": "t:sections.main-product.blocks.size_chart.settings.icon.label"
        },
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.main-product.blocks.size_chart.settings.label.label",
          "default": "Size chart"
        },
        {
          "type": "page",
          "id": "content_for_chart",
          "label": "t:sections.main-product.blocks.size_chart.settings.content_for_chart.label",
          "info": "t:sections.main-product.blocks.size_chart.settings.content_for_chart.info"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_modal",
          "label": "t:sections.main-product.blocks.size_chart.settings.color_scheme_modal.label",
          "default": "background-1"
        }
      ]
    },
    {
      "type": "main_accords",
      "name": "Main Accords (Parfum)",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Baslik",
          "default": "Accords principaux"
        },
        {
          "type": "select",
          "id": "title_style",
          "label": "t:sections.all.text.style.label",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.all.text.style.option_1"
            },
            {
              "value": "uppercase",
              "label": "t:sections.all.text.style.option_2"
            }
          ],
          "default": "normal"
        }
      ]
    },
    {
      "type": "product_variations",
      "name": "t:sections.main-product.blocks.product_variations.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-product.blocks.product_variations.settings.option_name.label",
          "info": "t:sections.main-product.blocks.product_variations.settings.option_name.info"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "t:sections.main-product.blocks.product_variations.settings.product_list.label",
          "info": "t:sections.main-product.blocks.product_variations.settings.product_list.info"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.all.image-ratios.options_1.label"
            },
            {
              "value": "square",
              "label": "t:sections.all.image-ratios.options_3.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.all.image-ratios.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        },
        {
          "type": "checkbox",
          "id": "show_quantity_selector",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_quantity_selector.label"
        },
        {
          "type": "select",
          "id": "button_color_scheme",
          "options": [
            {
              "value": "button",
              "label": "t:sections.all.buttons.primary.label"
            },
            {
              "value": "button button--secondary",
              "label": "t:sections.all.buttons.secondary.label"
            },
            {
              "value": "link link-with-icon",
              "label": "t:sections.all.buttons.text_link.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.buy_buttons.settings.add_to_cart_button.label"
        },
        {
          "type": "select",
          "id": "buy_button_color_scheme",
          "options": [
            {
              "value": "button",
              "label": "t:sections.all.buttons.primary.label"
            },
            {
              "value": "button button--secondary",
              "label": "t:sections.all.buttons.secondary.label"
            },
            {
              "value": "link link-with-icon",
              "label": "t:sections.all.buttons.text_link.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.buy_buttons.settings.buy_now_button.label"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "t:sections.main-product.blocks.pickup_availability.name",
      "limit": 1,
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "background-1"
        },
        {
          "type": "checkbox",
          "id": "pickup_drawer_icon",
          "label": "t:sections.main-product.blocks.pickup_availability.settings.drawer_icon.label",
          "default": true
        }
      ]
    },
    {
      "type": "complementary_products",
      "name": "t:sections.main-product.blocks.complementary_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.complementary_products.settings.information.content"
        },
        {
          "type": "text",
          "id": "complementary_products_list_heading",
          "label": "t:sections.main-product.blocks.complementary_products.settings.heading.label"
        },
        {
          "type": "select",
          "id": "title_style",
          "label": "t:sections.all.text.style.label",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.all.text.style.option_1"
            },
            {
              "value": "uppercase",
              "label": "t:sections.all.text.style.option_2"
            }
          ],
          "default": "normal"
        },
        {
          "type": "checkbox",
          "id": "complementary_products_list_icon",
          "label": "t:sections.main-product.blocks.complementary_products.settings.icon.label",
          "default": true
        },
        {
          "type": "range",
          "id": "complementary_products_list_limit",
          "label": "t:sections.main-product.blocks.complementary_products.settings.limit.label",
          "default": 3,
          "step": 1,
          "min": 1,
          "max": 10
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.complementary_products.settings.cards.settings.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "background-1"
        },
        {
          "type": "range",
          "id": "card_radius",
          "min": 0,
          "max": 40,
          "step": 2,
          "unit": "px",
          "label": "t:settings_schema.global.settings.corner_radius.label",
          "default": 4
        },
        {
          "type": "select",
          "id": "card_title_style",
          "label": "t:sections.all.text.style.label",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.all.text.style.option_1"
            },
            {
              "value": "uppercase",
              "label": "t:sections.all.text.style.option_2"
            }
          ],
          "default": "normal"
        },
        {
          "type": "text",
          "id": "complementary_products_list_link_text",
          "label": "t:sections.main-product.blocks.complementary_products.settings.cards.settings.link.label",
          "default": "View product"
        }
      ]
    },
    {
      "type": "stock_count_message",
      "name": "Product stock message",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.stock_count_message.settings.show_low_stock_message.content"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "free_shipping",
      "name": "t:sections.main-product.blocks.free_shipping.name",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "t:sections.main-product.blocks.sku.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "sku_text",
          "label": "t:sections.main-product.blocks.sku.settings.sku_text.label",
          "info": "t:sections.main-product.blocks.sku.settings.sku_text.info",
          "default": "SKU:"
        },
        {
          "type": "select",
          "id": "title_style",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.all.text.style.option_1"
            },
            {
              "value": "uppercase",
              "label": "t:sections.all.text.style.option_2"
            }
          ],
          "default": "normal",
          "label": "t:sections.all.text.style.label"
        }
      ]
    },
    {
      "type": "usp",
      "name": "t:sections.main-product.blocks.usp.name",
      "limit": 1,
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "background-3"
        },
        {
          "type": "select",
          "id": "title_style",
          "label": "t:sections.all.text.style.label",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.all.text.style.option_1"
            },
            {
              "value": "uppercase",
              "label": "t:sections.all.text.style.option_2"
            }
          ],
          "default": "normal"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.usp.settings.heading_1.label"
        },
        {
          "type": "text",
          "id": "heading_01",
          "label": "t:sections.main-product.blocks.usp.settings.heading.label",
          "default": "Add your title here"
        },
        {
          "type": "text",
          "id": "content_01",
          "label": "t:sections.main-product.blocks.usp.settings.content.label",
          "default": "Add your content here"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.usp.settings.heading_2.label"
        },
        {
          "type": "text",
          "id": "heading_02",
          "label": "t:sections.main-product.blocks.usp.settings.heading.label"
        },
        {
          "type": "text",
          "id": "content_02",
          "label": "t:sections.main-product.blocks.usp.settings.content.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.usp.settings.heading_3.label"
        },
        {
          "type": "text",
          "id": "heading_03",
          "label": "t:sections.main-product.blocks.usp.settings.heading.label"
        },
        {
          "type": "text",
          "id": "content_03",
          "label": "t:sections.main-product.blocks.usp.settings.content.label"
        }
      ]
    },
    {
      "type": "collapsible_content",
      "name": "t:sections.collapsible-content.blocks.collapsible-row.name",
      "settings": [
        {
          "type": "select",
          "id": "display_type",
          "label": "t:sections.collapsible-content.blocks.collapsible-row.settings.display_type.label",
          "options": [
            {
              "value": "accordion",
              "label": "t:sections.collapsible-content.blocks.collapsible-row.settings.display_type.options_1.label"
            },
            {
              "value": "drawer",
              "label": "t:sections.collapsible-content.blocks.collapsible-row.settings.display_type.options_2.label"
            }
          ],
          "default": "accordion"
        },
        {
          "type": "checkbox",
          "id": "faq_open",
          "label": "t:sections.collapsible-content.blocks.collapsible-row.settings.open_row.label",
          "visible_if": "{{ block.settings.display_type == 'accordion' }}"
        },
        {
          "type": "text",
          "id": "faqs_question",
          "label": "t:sections.collapsible-content.blocks.collapsible-row.settings.heading.label",
          "default": "Add your title here"
        },
        {
          "type": "select",
          "id": "title_style",
          "label": "t:sections.all.text.style.label",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.all.text.style.option_1"
            },
            {
              "value": "uppercase",
              "label": "t:sections.all.text.style.option_2"
            }
          ],
          "default": "normal"
        },
        {
          "type": "richtext",
          "id": "faqs_answer",
          "label": "t:sections.collapsible-content.blocks.collapsible-row.settings.content.label",
          "default": "<p>Add your content here</p>"
        }
      ]
    },
    {
      "type": "spacer",
      "name": "t:sections.all.spacer.name",
      "settings": [
        {
          "type": "range",
          "id": "height",
          "label": "t:sections.all.spacer.height.label",
          "default": 16,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label",
          "info": "t:sections.main-product.blocks.popup.settings.page.info"
        }
      ]
    }
  ]
}
{% endschema %}
