{{ 'component-hero.css' | asset_url | stylesheet_tag }}

{% liquid
  if section.settings.image and section.settings.collection_image_position == 'image-right'
    assign banner_layout = 'double-column'
  else
    assign banner_layout = 'single-column'
  endif

  if section.settings.image
    assign header_hero_classes = section.settings.collection_image_position
    if section.settings.collection_image_position == 'image-background' and section.settings.image == blank
      assign header_hero_classes = ''
    endif
  endif

  if section.settings.show_breadcrumbs == false
    assign header_hero_classes = header_hero_classes | append: ' header-hero--no-breadcrumbs'
  endif

  if section.settings.title_style == 'uppercase'
    assign title_style = 'uppercase'
  endif

  if section.settings.show_border_bottom
    assign section_border_bottom = 'section-border-bottom'
  endif
%}

<div
  class="
    header-hero
    {{ header_hero_classes }}
    gradient
    color-{{ section.settings.color_scheme }}
    {{ section_border_bottom }}
  "
>
  <div class="page-width">
    <div class="header-hero__container {{ banner_layout }}">
      <div class="header-hero__content">
        {% if section.settings.show_breadcrumbs %}
          {% render 'breadcrumbs' %}
        {% endif %}

        <div class="header-hero__text-content{% if section.settings.show_stars %} header-hero__text-content--has-svg{% endif %}">
          {% liquid
            if section.settings.show_stars
              render 'icon-star-cluster-one'
            endif
          %}

          <h1 class="title--primary h3 {{ title_style }}">
            {{- section.settings.header | escape -}}
          </h1>

          {%- if section.settings.content -%}
            <div class="rte">
              {{ section.settings.content }}
            </div>
          {%- endif -%}
        </div>
      </div>

      {%- if section.settings.image != blank -%}
        <div
          class="
            header-hero__image-wrapper
            {{ section.settings.collection_image_position }}
          "
        >
          <div class="header-hero__image media">
            {{
              section.settings.image
              | image_url: width: 720
              | image_tag:
                loading: 'eager',
                fetchpriority: 'high',
                width: section.settings.image.width,
                height: section.settings.image.height,
                sizes: '(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)',
                widths: '360, 533, 720, 940, 1066',
                class: 'motion-reduce',
                alt: section.settings.image.alt
              | escape
            }}
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-4"
    },
    {
      "type": "checkbox",
      "id": "show_border_bottom",
      "label": "t:sections.all.border.show_border_bottom.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumbs",
      "label": "t:sections.all.breadcrumbs.settings.show.label",
      "default": true
    },
    {
      "type": "text",
      "id": "header",
      "label": "t:sections.main-collection-banner.settings.heading.label",
      "default": "Collection"
    },
    {
      "type": "select",
      "id": "title_style",
      "options": [
        {
          "value": "normal",
          "label": "t:sections.all.text.style.option_1"
        },
        {
          "value": "uppercase",
          "label": "t:sections.all.text.style.option_2"
        }
      ],
      "default": "normal",
      "label": "t:sections.all.text.style.label"
    },
    {
      "type": "text",
      "id": "content",
      "label": "t:sections.main-collection-banner.settings.content.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.main-collection-banner.settings.background_image.label",
      "info": "t:sections.all.images_tips.landscape_medium.info"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_stars",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_stars.label"
    },
    {
      "type": "select",
      "id": "collection_image_position",
      "options": [
        {
          "value": "image-right",
          "label": "t:sections.main-collection-banner.settings.collection_image_position.option_1.label"
        },
        {
          "value": "image-background",
          "label": "t:sections.main-collection-banner.settings.collection_image_position.option_2.label"
        }
      ],
      "default": "image-right",
      "label": "t:sections.main-collection-banner.settings.collection_image_position.label"
    }
  ]
}
{% endschema %}
